@import "../utils/vars";

.contact {
  background: $color1;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  gap: 94px;

  &__colorlogo {
    color: $secondarycolor;
  }

  &__credentials {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    gap: 28px;

    a {
      text-decoration: none;
      color: $primarycolor;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.192;
      letter-spacing: 0.03em;
    }
  }
  .contact-adress {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 60px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.143;
    color: $color7;
    text-decoration: none;
  }

  &__street {
    color: $primarycolor;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-decoration: none;
  }

  &__footer {
    color: $color8;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
}
