.header {
  min-height: 80px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}
.header .header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  position: relative;
}
.header .header-list {
  display: flex;
  align-items: center;
  padding: 32px 0px 32px 0px;
  gap: 50px;
  flex-grow: 1;
}
.header .header-list__colorlogo {
  color: #2196f3;
}
.header .header-list__studio:after {
  content: "";
  border: 2px solid #2196f3;
  width: 100%;
  position: absolute;
  bottom: -39px;
  border-radius: 4px;
  visibility: visible;
  left: 0;
}
.header .header-list__link {
  color: #212121;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.02em;
  position: relative;
}
.header .header-list__link:hover {
  color: #2196f3;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.header .header-list__link:focus {
  color: #2196f3;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.header .header-list .header-list__studio-logo {
  padding: 24px 0px 25px 0px;
  margin: 0px 53px 0px 0px;
}
.header .unstyled-list {
  list-style: none;
}
.header .contact-list {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.header .contact-list__mail:hover {
  color: #2196f3;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  fill: #2196f3;
}
.header .contact-list__mail:focus {
  color: #2196f3;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  fill: #2196f3;
}
.header .contact-list__phone:hover {
  color: #2196f3;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  fill: #2196f3;
}
.header .contact-list__phone:focus {
  color: #2196f3;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  fill: #2196f3;
}
.header .contact-list .contact-svg {
  margin-right: 10px;
}

* {
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

* {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  padding: 0;
  margin: 0;
  line-height: 1.33;
  letter-spacing: 0.03em;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 94px 0px;
}

.unstyled-list {
  list-style: none;
}

.header-list__studio-logo {
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #000000;
}

.contact-list__mail {
  text-decoration: none;
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
}
.contact-list__phone {
  text-decoration: none;
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
}

.main-page {
  background-repeat: no-repeat;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/background.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-color: #2f303a;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  width: 696px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 200px 0px 30px 0px;
}
.main-container__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #2196f3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0px 0px 200px 0px;
  padding: 10px 19px 10px 20px;
}
.main-container__btn:hover {
  border-color: #2196f3;
  color: #ffffff;
  background: #2196f3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.description {
  padding-bottom: 0px;
}
.description-block {
  display: flex;
  margin: 0px auto 0px auto;
  gap: 30px;
  flex-wrap: wrap;
}
.description-block__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  left: 215px;
  top: 774px;
  background: #f5f4fa;
  border-radius: 4px;
}
.description-block__title {
  padding-top: 30px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #212121;
}
.description-block__text {
  padding-top: 10px;
  font-size: 14px;
  line-height: 1.714;
  color: #757575;
}
.description-block li {
  width: 270px;
}

.do-section-list {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.do-section-list__item {
  position: relative;
}
.do-section-list__text {
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  line-height: 0.228;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1%;
}

.center-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: #212121;
  padding: 0px 0px 50px 0px;
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */